body {
  background-color: #282c34;
}

.container {
  text-align: center;
  color: #61dafb;
}

h2 {
  margin-top: 2rem;
  text-align: center;
}

.center {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#qrSubmit {
  text-align: center;
  width: auto;
}